body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
}

.search {
  align-items: center;
  background: #abc;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin: 4px;
  padding: 2px 4px;
  width: 70%;
}

.search input {
  background: #abc;
  border: none;
  color: #123;
  flex: 1;
  font-size: 1.5rem;
  outline: none;
  padding: 4px;
}

.search img {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.book {
  align-items: center;
  background-color: #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 1.5rem;
  padding: 8px;
  position: relative;
  width: 300px;
}

.book:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.book img {
  margin-bottom: 8px;
}

.book .bookTitle {
  display: -webkit-box;
  font-size: 1.4em;
  font-weight: bold;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.book .bookAuthor {
  font-size: 1.1em;
  line-height: 1.5em;
}

.book .bookDate {
  font-style: italic;
}
